.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: pink;
    height: 600px; 
}
.gird-items
{
    background-color: yellow;
    text-align: center;
    margin: 10px;
    height: 250px;
    margin-top: 25px;
}
img{
    height: 180px;
    margin-top: 10px;
}
@media screen and (max-width: 500px) {
    .container{
        grid-template-columns: repeat(2, 1fr); 
    }
    .gird-items
    {
        margin: 5px;
        height: 200px; 
    }
    img{
        height: 150px; 
    }   
}
